<footer class="site-footer">

  <div class="wrapper">
    <img src="{{ site.github.owner_gravatar_url }}" width="48" height="48">
    <a href="https://github.com/mmmaming" class="nav-link">View My Github</a>


  </div>

</footer>
<div class="color-bars-header"><div class="cor-head colr-1"></div><div class="cor-head colr-2"></div><div class="cor-head colr-3"></div><div class="cor-head colr-4"></div><div class="cor-head colr-1"></div><div class="cor-head colr-2"></div><div class="cor-head colr-3"></div><div class="cor-head colr-4"></div></div>