---

---

@import "{{ site.theme }}";

body {
  background-image: url("/assets/images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: #ffffff;
}
#main {
  background: #222222;
  color: #fcfcfc;
}
.markdown-body {
  .p {
    font-weight: 600;
    color: lightblue;
  }
  .blog-ul {
    li {
      list-style-type: decimal;
      a {
        color: #a8d1de;
      }
      a:hover {
        color: #dff1f7;
        text-decoration: none;
      }
    }
  }

}
