---

---

@import "{{ site.theme }}";

body {
  background-image: url("/assets/images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: #fff;
}
.markdown-body {
  .p {
    font-weight: 600;
    color: lightblue;
  }
  .blog-ul {
    li {
      list-style-type: decimal;
      a:hover {
        color: #90D355;
        text-decoration: none;
      }
    }
  }

}
